*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#container{
    width: 300px;
    background-color: #424242;
    color: white;
    border-radius: 10px;
}
#display-con{
    text-align: right;
    font-size: 4rem;
    padding-right: 10px;
    padding: 10px;
    
}
#number-con{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.buttons{
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: gray;
    height: 4rem;
    font-size: 1.3rem;
    border-right: 1px solid #424242;
    border-bottom: 1px solid #424242;
}
#number-con .buttons:nth-child(4n+0),#number-con .buttons:last-child{
    border-right: none;
}
#number-con .buttons:nth-last-child(-n+3){
    border-bottom: none;
}
#zero-btn{
    display: grid;
    grid-column-start : 1;
    grid-column-end: 3;
    border-radius: 0 0 0 10px;
    padding-right: 1px;
}
#enter-btn{
    border-radius: 0 0 10px 0;
}
.symbols-1{
    background-color: #616161;
}
.symbols-2{
    background: #FF9800;
}
.buttons:hover{
    cursor: pointer;
}
.buttons:active {
    opacity: 0.8;
}